//assembly.config

profiles {

	server {

		process {
			withName: ASSEMBLY {
			container = '/home/rmadzime/metagenomes/containers/spades.sif'
			cpus = 4 
			memory = 90.GB
			}
			withName: BINNING_MAXBIN {
			container = '/home/rmadzime/metagenomes/containers/maxbin2.sif'
			cpus = 2
			memory = 15.GB
			}
			withName: FILTER_BINS {
			container = '/home/rmadzime/metagenomes/containers/utilities.sif'
			cpus = 2
			memory = 8.GB
			}
			withName: PROKKA {
			container = '/home/rmadzime/metagenomes/containers/prokka.sif'
			cpus = 8
			memory = 15.GB
			}
			//withName: MAKEBLAST_DB {
			//container = '/home/rmadzime/metagenomes/containers/blast.sif'
			//cpus = 2
			//memory = 40.GB
			//}
			withName: BLASTN {
			container = '/home/rmadzime/metagenomes/containers/blast.sif'
			cpus = 2
			memory = 15.GB
			}
			withName: DEEPARG_DOWNLOAD {
			container = '/home/rmadzime/metagenomes/containers/deeparg.sif'
			cpus = 2
			memory = 8.GB
			}
			withName: DEEPARG_PREDICT {
			container = '/home/rmadzime/metagenomes/containers/deeparg.sif'
			cpus = 2
			memory = 25.GB
			}
			withName: QUAST {
			container = '/home/rmadzime/metagenomes/containers/quast.sif'
			cpus = 2
			memory = 15.GB
			}
		}	
	
		singularity {
			enabled = true
			autoMounts = true
		}

		executor {
			queueSize = 5
		}
	}


	cluster {

		process {
			executor = "pbspro"
			clusterOptions = "-N metagen -q serial -P CBBI0999"
			beforeScript = "module load chpc/singularity/3.5.3"
			maxRetries = 2
		
			withName: ASSEMBLY {
				container = 'mnt/lustre/users/rmadzime/metagenomics/shotgun/containers/spades.sif'
				cpus = 10
				memory = 88.GB
				time = '20h'
				}

			withName: BINNING_MAXBIN {
				container = 'mnt/lustre/users/rmadzime/metagenomics/shotgun/containers/maxbin2.sif'
				cpus = 8
				memory = 20.GB
				time = '15h'
				}

			withName: FILTER_BINS {
				container = 'mnt/lustre/users/rmadzime/metagenomics/shotgun/containers/utilities.sif'
				cpus = 4
				memory = 10.GB
				time = '10h'
				}

			withName: PROKKA {
				container = 'mnt/lustre/users/rmadzime/metagenomics/shotgun/containers/prokka.sif'
				cpus = 15
				memory = 20.GB
				time = '20h'
				}

			withName: BLASTN {
				container = 'mnt/lustre/users/rmadzime/metagenomics/shotgun/containers/blast.sif'
				cpus = 6
				memory = 12.GB
				time = '15h'
				}

			withName: DEEPARG_PREDICT {
				container = 'mnt/lustre/users/rmadzime/metagenomics/shotgun/containers/deeparg.sif'
				cpus = 8
				memory = 25.GB
				time = '15h'
				}

			withName: QUAST {
				container = 'mnt/lustre/users/rmadzime/metagenomics/shotgun/containers/quast.sif'
				cpus = 5
				memory = 15.GB
				time = '10h'
				}
			}


		singularity {
			enabled = true
			autoMounts = true
			cacheDir = /mnt/lustre/users/rmadzime/.singularity
			}

		executor {
			queueSize = 5
		}
	}
}
